page-forum {
  ion-list {
    button {
      &:nth-child(odd) {
        background-color: #f1f1f1;
      }
    }

    .input-wrapper ion-label {
      margin-top: 7px;
      margin-bottom: 7px;
    }
  }

  .top {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;

    .author {
    }
  }

  .title {
    color: #3d5afe;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 3px;
  }
}
