<ion-header>
  <ion-navbar>
    <ion-title>
        <button ion-button icon-only clear (click)="presentThreadPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
        <marquee style="vertical-align:-webkit-baseline-middle">{{title}}</marquee>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="refreshComments($event)">
    <ion-refresher-content pullingText="משוך בשביל לרענן" refreshingText="טוען...">
    </ion-refresher-content>
  </ion-refresher>
  <!--<div [virtualScroll]="comments">
    <section *virtualItem="let comment" class="comment" padding id="comment{{comment.index}}">-->
  <div>
    <section *ngFor="let comment of comments" class="comment" padding id="comment{{comment.index}}">
      <div class="top">
        <a class="author" href="#">{{comment.author}}</a>
        <div class="date">{{moment(comment.timestamp, 'X').calendar()}}</div>
      </div>
      <header [innerHTML]="(comment.index > 0 ?comment.index + '. ' : '')+comment.title"></header>
      <div class="body" [innerHTML]="sanitizer.bypassSecurityTrustHtml(comment.html)" (click)="openLink($event.target)"></div>
      <footer>
        <a href="#" class="reply" (click)="reply(comment)">הגב</a>
        <a *ngIf="comment.index > 0" href="#comment{{comment.parent}}" class="reply-to">בתגובה להודעה #{{comment.parent}}</a>
      </footer>
    </section>
  </div>
</ion-content>
